CSV_PATH=data-subset/music-info-subset.csv
CSV_LISTENING_HISTORY_PATH=data-subset/listening-history-subset.csv
HDF5_PATH=data-subset/msd-summary-subset.h5
CHUNK_SIZE=5000
NO_OF_CHUNKS=2

SQL_TABLE=tracks

POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_pass
POSTGRES_DB=tracks-api-postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

FLASK_SECRET_KEY={ Random string }
JWT_PRIVATE_KEY={ An EC private key. }
JWT_PUBLIC_KEY={ An EC public key. }
