CSV_PATH=data-subset/music-info-subset.csv
CSV_LISTENING_HISTORY_PATH=data-subset/listening-history-subset.csv
HDF5_PATH=data-subset/msd-summary-subset.h5
CHUNK_SIZE=4
NO_OF_CHUNKS=3

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tracks-api-postgres
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pass
