POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tracks-api-postgres
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pass
BASE_URL=http://localhost:5000

FLASK_DEBUG=True
FLASK_SECRET_KEY={ Random string }
JWT_PRIVATE_KEY={ An EC private key. }
JWT_PUBLIC_KEY={ An EC public key. }
